<div style="margin: auto; text-align: center;">
	<h2 id="h2">Login By Email</h2>

	<input class="span3" id="login-email" type="text" placeholder="Email"  /> <br>
	<input class="span3" id="login-password" type="password" placeholder="Password"  /> <br>
	<span class="help-block">Used to retrieve your secret key if you lose it!</span> <br><br>
</div>

<div class="pull-right">
	<button type="button" class="btn btn-large btn-primary" id="finish-fallback">Login</button>
	<button type="button" class="btn btn-large btn-warning" id="cancel-fallback">Cancel</button>
</div>

<div class="clearfix"></div>