<div style="margin: auto; text-align: center;">
	<h2 id="h2">Register Now!</h2>

	<input class="span3" id="register-email" type="text" placeholder="Email"  /> <br>
	<input class="span3" id="register-password" type="password" placeholder="Password"  /> <br>
	<span class="help-block">Used to retrieve your secret key if you lose it!</span> <br><br>
</div>

<div class="pull-right">
	<button type="button" class="btn btn-large btn-primary" id="show-login">Login</button>
	<button type="button" class="btn btn-large btn-warning" id="finish-register">Finish</button>
</div>

<div class="clearfix"></div>