<div style="margin: auto; text-align: center;">
	<h2 id="h2">Enter BETA Key</h2>

	<input class="span3" id="register-beta-key" type="text" placeholder="Your BETA Key"  /> 

	<br>

	<a href="mailto:teamchromide@gmail.com">Don't have one? Request One!</a>

	<br><br>

</div>

<div class="pull-right">
	<button type="button" class="btn btn-large btn-primary" id="show-login">Login</button>
	<button type="button" class="btn btn-large btn-warning" id="continue-register">Continue</button>
</div>

<div class="clearfix"></div>