		<style type="text/css">
			body {
				background-image: url('./Public/Modern/Images/shattered.png');
			}
		</style>
		<div class="container" style="margin: 0 auto 20px;">
			<div class="well" style="max-width: 300px;" id="main-form">
				<div style="margin: auto; text-align: center;">
					<h2 id="h2">Your Characters</h2>
					<h3>{$user->seckey}</h3>

					{$user->characters}

					<form class="form-search">
						<input id="character-name" class="input-medium search-query" type="text" placeholder="Character Name"  /> 
						<button type="button" class="btn btn-success" id="create-character">Create</button>
					</form>

				</div>
			</div>

			<div class="well" style="max-width: 300px;">
				<div style="margin: auto; text-align: center; font-size: 18px;" id="full_online_text">
					Loading Online Count..
				</div>
			</div>

			<div style="position: fixed; bottom: 0; right: 0; max-height: 390px;">
				<img src="./Public/Modern/Images/frontpage_view_{$general->imgkey}.png" id="frontpage-img" style="margin-bottom: 0px; display: none;"/>
			</div>
			<div style="position: fixed; bottom: 0; left: 0;">
				Chromide. &copy 2013. <a href="#" id="show_twitter_modal">@developers</a>
			</div>
		</div>