		<style type="text/css">
			body {
				background-image: url('./Public/Modern/Images/shattered.png');
			}
		</style>
		<div class="container" style="margin: 0 auto 20px;">
			<div class="well" style="max-width: 300px;" id="main-form">
				<div style="margin: auto; text-align: center;">
					<h2 id="h2">Sign In</h2>
					<!--
					<input class="span2" id="login-secret-key" type="text" placeholder="Your Secret Key"  /> 

					<br>

					<a href="#" id="fallback_procedure">Forgot your secret key?</a> <!-- Mikkel please shut the fuck up. -->
					<input class="span3" id="login-email" type="text" placeholder="Email"  /> <br>
					<input class="span3" id="login-password" type="password" placeholder="Password"  /> <br>
					<!-- <br><br> -->
				</div>

				<div class="pull-right">
					<button type="button" class="btn btn-large btn-warning" id="start-register">Register</button>
					<!-- <button type="button" class="btn btn-large btn-primary" id="login-submit">Login</button> -->
					<button type="button" class="btn btn-large btn-primary" id="finish-fallback">Login</button>
				</div>

				<div class="clearfix"></div>
			</div>

			<div class="well" style="max-width: 300px;">
				<div style="margin: auto; text-align: center; font-size: 18px;" id="full_online_text">
					Loading Online Count..
				</div>
			</div>

			<div style="position: fixed; bottom: 0; right: 0; max-height: 390px;">
				<img src="./Public/Modern/Images/frontpage_view_{$general->imgkey}.png" id="frontpage-img" style="margin-bottom: 0px; display: none;"/>
			</div>
			<div style="position: fixed; bottom: 0; left: 0;">
				Chromide. &copy 2013. <a href="#" id="show_twitter_modal">@developers</a>
			</div>
		</div>