<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$site->title} &middot; {$site->location}</title>

		{$page->css}
	</head>
	<body>
		{$page->body}
	</body>
	<script src="./Public/Modern/JS/jquery.js"></script>
	<script src="./Public/Modern/JS/jquery-ui.min.js"></script>
	<script src="./Public/Modern/JS/bootstrap.min.js"></script>
	<script src="./Public/Modern/JS/jquery.pnotify.js"></script>
	<script src="./Public/Modern/JS/modal.library.js"></script>
	<script src="./Public/Modern/JS/application.js"></script>
	{$page->js}
</html>