body
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

html, #flash-container
{ 
	height: 100%;
 	text-align: left; 
 	background-color: black; 
}

#flash-container
{
	position: absolute; 
	overflow: hidden; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
}